*.pyc
.DS_Store
.idea
build/
data/*/data
models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/checkpoints/

models/sent140/embs.json
_build/
_templates/
autodoc/
data/
models/hdbscan
models/autoencoder_model
models/memmaps
pca.pkl
scaler.pkl
second_scaler.pkl
standard_scaler.pkl
scaler_layer_0.pkl
scaler_layer_1.pkl
scaler_layer_2.pkl
scaler_layer_3.pkl
scaler_layer_4.pkl
scaler_layer_5.pkl
scaler_layer_6.pkl
scaler_layer_7.pkl
memmap_layer_0.dat
memmap_layer_1.dat
memmap_layer_2.dat
memmap_layer_3.dat
memmap_layer_4.dat
memmap_layer_5.dat
memmap_layer_6.dat
memmap_layer_7.dat